.button {
  border: none;
  background-color: #471704;
  padding: 0.75rem 3rem;
  font: inherit;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button:hover,
.button:active {
  background-color: #3a1203;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.35rem;
  color: white;
}

.badge {
  padding: 0.25rem 1rem;
  background-color: #8a2b06;
  margin-left: 0.75rem;
  border-radius: 30px;
  font-weight: bold;
}
