.login {
  position: relative;
  box-shadow: 0 1px 18px 10px rgb(0, 0, 0, 0.26);
  width: 30%;
  max-width: 40rem;
  margin: auto;
  margin-top: -70px;
}

.control {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.control label {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0.25rem;
}

.login button {
  width: 100%;
  background-color: #8a2b06;
  color: white;
  border: 1px solid #8a2b06;
  border-radius: 20px;
  font: inherit;
  cursor: pointer;
  padding: 0.3rem 0;
  margin: 0.5rem auto;
  font-size: 12px;
  font-weight: bold;
}

.error {
  color: red;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
